<!DOCTYPE html>
<html>
<body>
<h2>{{message}}</h2>
<h2>Hello! what would you like to do?</h2>
<form name="Choice" action="/" method='POST'>
    <select name="Choice">
        <option value="modify Hotel group">Modify hotel group</option>
        <option value="modify Hotel group address">Modify hotel group address</option>
        <option value="modify Hotel group phone">Modify hotel group phone</option>
        <option value="modify Hotel">Modify hotel</option>
        <option value="modify Hotel address">Modify hotel address</option>
        <option value="modify room">Modify room</option>
        <option value="modify customer">Modify customer</option>
        <option value="modify employee">Modify employee</option>
        <option value="modify works">Modify employee work</option>
        <option value="modify reservation">Modify reservation</option>
        <option value="modify rents">Modify rents</option>
        <option value="modify payment">Modify payment</option>
        <option value="view2">View Rooms</option>
    </select>
    <button type="submit">Go</button>
</form>

<img src="/static/chania-harbor3.jpg">