<html>
{% extends "base.html" %}

{% block content %}
<head>
<style>
table {
    font-family: arial, sans-serif;

    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
   <body>
   <h2>{{message}}</h2>

   <h2>Add a payment:</h2>
      <form action = "/add_payment" method = "POST">
          <p>Payment amount <input type = "text" name = "Payment_amount" /></p>
          <p>Payment method <input type = "text" name = "Payment_method" /></p>
         <p>Id of rent<input type = "number" name = "RentID" /></p>
           <p><input type = "submit" value = "submit" /></p>
      </form>
   <h2>Update existing payment:</h2>
       <form action = "/update_payment" method = "POST">
           <p>Payment id <input type = "number" name = "PaymentID" /></p>
           <p>Payment amount <input type = "text" name = "Payment_amount" /></p>
          <p>Payment method <input type = "text" name = "Payment_method" /></p>
         <p>Id of rent<input type = "number" name = "RentID" /></p>
           <p><input type = "submit" value = "submit" /></p>
      </form>
   <h2>Delete a payment:</h2>
      <form action = "/delete_payment" method = "POST">
          <p> Payment id<input type=" number" name="PaymentID" /></p>
          <p><input type = "submit" value = "submit" /></p>
      </form>

   {%if addr !=None%}
    <table>
        <tr>
            <th>Payment id</th>
            <th>Payment amount</th>
            <th>Payment method</th>
            <th>Rent id</th>
        </tr>

        {% for group in addr %}
            <tr>
                <td>{{group.id}}</td>
                <td>{{group.Payment_Amount}}</td>
                <td>{{group.Payment_method}}</td>
                <td>{{group.rentID}}</td>
            </tr>
        {% endfor %}
        {%endif%}
        </body>
{% endblock %}
</html>