<html>
{% extends "base.html" %}

{% block content %}
<head>
<style>
table {
    font-family: arial, sans-serif;

    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
   <body>
   <h2>{{message}}</h2>
   <h2>Add hotel group phone:</h2>

      <form action = "/add_hotel_group_phone" method = "POST">
          <p>Hotel group id <input type = "number" name = "Hotel group id" /></p>
         <p>Phone number <input type = "number" name = "phone_number" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   <h2>Update existing hotel group phone:</h2>
       <form action = "/update_hotel_group_phone" method = "POST">
          <p>id of hotel group  phone<input type = "number" name = "id" /></p>
         <p>New phone number <input type = "number" name = "new phone_number" /></p>

         <p><input type = "submit" value = "submit" /></p>
      </form>
   <h2>Delete hotel group phone:</h2>
      <form action = "/delete_hotel_group_phone" method = "POST">
          <p>Hotel group phone id <input type = "number" name = "id" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>

{%if addr !=None%}
    <table>
        <tr>
            <th>Hotel group phone id</th>
            <th>Phone</th>
            <th>Hotel group id</th>
        </tr>

        {% for group in addr %}
            <tr>
                <td>{{group.id}}</td>
                <td>{{group.phone_number}}</td>
                <td>{{group.hotel_groupID}}</td>
            </tr>
        {% endfor %}
        {%endif%}

   </body>
{% endblock %}
</html>
