<html>
{% extends "base.html" %}

{% block content %}
<head>
<style>
table {
    font-family: arial, sans-serif;

    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
   <body>
   <h2>{{message}}</h2>

   <h2>Make a reservation:</h2>
      <form action = "/make_reservation" method = "POST">
          <p>Customer IRS number <input type = "number" name = "IRS_Number" /></p>
         <p>Start date <input type = "date" name = "Start_date" /></p>
          <p>Finish date <input type = "date" name = "Finish_date" /></p>
          <p>Paid on<input type = "date" name = "Paid_date" /></p>
          <p> Room id<input type=" number" name="RoomID" /></p>
          <input type="hidden" name="previous" value="admin" />
         <p><input type = "submit" value = "submit" /></p>
      </form>
   <h2>Update existing reservation:</h2>
       <form action = "/update_reservation" method = "POST">
           <p> Reserve id<input type=" number" name="ReserveID" /></p>
          <p>Customer IRS number <input type = "number" name = "IRS_Number" /></p>
         <p>Start date <input type = "date" name = "Start_date" /></p>
          <p>Finish date <input type = "date" name = "Finish_date" /></p>
          <p>Paid on<input type = "date" name = "Paid_date" /></p>
          <p> Room id<input type=" number" name="RoomID" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   <h2>Delete reservation:</h2>
      <form action = "/delete_reservation" method = "POST">
          <p> Reserve id<input type=" number" name="ReserveID" /></p>
          <p><input type = "submit" value = "submit" /></p>
      </form>

   {%if addr !=None%}
    <table>
        <tr>
            <th>Reserve id</th>
            <th>Start date</th>
            <th>Finish date</th>
            <th>Paid on</th>
            <th>Customer IRS</th>
            <th>Room id</th>
        </tr>

        {% for group in addr %}
            <tr>
                <td>{{group.id}}</td>
                <td>{{group.Start_date}}</td>
                <td>{{group.Finish_date}}</td>
                <td>{{group.Paid}}</td>
                <td>{{group.customer_irs}}</td>
                <td>{{group.roomID}}</td>
            </tr>
        {% endfor %}
        {%endif%}
        </body>
{% endblock %}
</html>